// HEADER ///
@media (max-width 992px)
    .block-padding
	    padding: 50px 0px;
    .top-bar__content
        min-height: 50px;
    .cart-block
        width: 60px;
    .navbar
        position: inherit;    
    .navbar-collapse
        position: absolute;
        top: 0px;
        background: mainPage-color;
        border-bottom: 2px solid dark-color
        color: #fff
        width: 100%;
        left: 0px;
        flex-wrap: wrap;
        z-index: 9 
    .navbar-toggler
        z-index: 12
    nav .navbar-nav
        max-width: 250px;
        padding: 40px 0px;
    .navbar-toggler:focus
        box-shadow: none
    .main-banner .h1
        margin-bottom 25px
        font-size: 35px;
    .PB_plot
        max-width: 100% 
    .main-banner__info .btns-wrap,
    .main-banner__info .middle_info
        margin-bottom 15px
    .main-banner_picture-wrap
        max-width: 416px;
    .pic_name_wrap
        margin-bottom 35px
    .new_pic
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;
    .pic_name
        font-style: normal;
        font-weight: normal;
        font-size: 27px;
        line-height: 23px;
    .main-banner_picture-block
        margin-bottom 35px
    .btn
        margin-bottom 10px;
    .h1:before
        width: 5px;
        height: 29.5px;
        left: -13px;
        bottom: 3px;
    .main-banner__info .pic_name_wrap .new_pic
        font-size: 28px;
        line-height: 18px;
    .main-banner__info .pic_name_wrap .pic_name
        font-size: 31px;
        line-height: 43px;
    .main-banner__info .pic_name_wrap
        margin-bottom: 5px; 
    .medium_text
        font-weight: 500;
        font-size: 18px;             

@media (max-width 720px)
    .logo-link
        max-width: 100px;
        box-sizing: border-box;
        display: block;
        margin-left -20px
        img
            width: 100%
    .cart-block
        width: 50px;
    .number-block
        width: 25px
        height: 25px     
    .top-bar__socials-link
        width: 20px
        height: 20px
        &-img
            width: 25px;
            height: 25px;
    .phone-icon
            width: 20px;
            height: 20px;
    .phone_link
        font-size: 14px;
    .top-bar__socials
        display: none;
    .form-select
        font-size: 14px
        background-size: 16px 16px;
        padding: .35rem 2rem .375rem .5rem;        
    .select-currency
        margin-left: -10px;
    nav .navbar-nav
        max-width: 189px;
        padding: 40px 0px;
    .main-banner .h1
        margin-bottom: 15px;
        font-size: 27px;
           